<% provide(:title, 'Home') %>

<div class="center hero-unit">
  <h1>MINI ROOMER</h1>
  <h2>

  <%= link_to "Sell Roomer!", sell_room_path, class: "btn btn-large btn-primary" %>
  <%= link_to "Buy Roomer!", search_room_path, class: "btn btn-large btn-primary" %>
</div>

