<div class="row">
  <aside class="span4">
    <section>
      
        <h4>Email: <%= @user.email %></h4>
        <h4>Country: <%= @user.country %></h4>
        <h4>Date of birth: <%= @user.date_of_birth %></h4>
      
    </section>
  </aside>
</div>